@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ModernNo20";
  src: url("../public/fonts/Modern\ No.\ 20.ttf");
}

@font-face {
  font-family: "CascadiaMono";
  src: url("../public/fonts/CascadiaMono.ttf");
}

.navText {
  @apply font-secondary text-lg text-black;
}

.primaryButton {
  @apply font-primary tracking-wider uppercase py-2 px-8 rounded-xl transition-all duration-300 hover:border hover:border-orange hover:text-orange;
}
