@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ModernNo20";
  src: url("../public/fonts/Modern\ No.\ 20.ttf");
}

@font-face {
  font-family: "CascadiaMono";
  src: url("../public/fonts/CascadiaMono.ttf");
}

.navText {
  @apply font-secondary text-lg text-black;
}

.primaryButton {
  @apply font-primary text-base text-orange tracking-widest uppercase py-3 px-8 border-2 border-orange rounded-2xl transition duration-300 hover:bg-orange hover:text-white;
}

.contactInput {
  @apply outline-none bg-white rounded-md px-2 py-2 w-[400px] border border-beige-200 text-black placeholder-beige-100
}
